<!DOCTYPE html>
<html>
<head>
    <title>Vaccine Form</title>
</head>
<body>
    <h1>Vaccine Form</h1>
    <form action="/" method="post">
        <label for="uname">Name:</label>
        <input type="text" name="uname" id="uname"><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"><br><br>
        <label for="phone_number">Phone Number:</label>
        <input type="tel" name="phone_number" id="phone_number"><br><br>
        <label for="num_vaccines">Number of vaccines taken:</label>
        <input type="number" name="num_vaccines" id="num_vaccines"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
